.container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  margin: 30px;
  height: auto;
  padding: 35px;
  box-shadow: 0 3px 10px $shadow;
}
//like button
.container_like {
  display: flex;
  justify-content: flex-end;
  .likeButton {
    border: none;
    background: none;
    width: 25px;
    z-index: 2;
    position: absolute;
    margin-right: 7.3px;
    cursor: pointer;
  }
}
//product img
.container_img {
  display: flex;
  justify-content: center;
}
.imgCard {
  width: 200px;
  border-radius: 12px;
}
//content card
.priceCard {
  margin: 0;
  letter-spacing: 2.2px;
}
//container price and add button
.container_flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
//add button
.buttonContainer {
  display: flex;
  justify-content: center;
  .addButton {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 50%;
    background-color: $violet-dark;
    box-shadow: 1px 3px 5px $shadow;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
      background-color: $violet;
    }
    .icon_cart {
      width: 30px;
    }
  }
}
@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card_container {
    width: 30%;
    height: 20rem;
  }
}
