.container_navbar {
  background-color: $deep-purple;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .brand_name {
    color: $purple-clear;
    margin-left: 10px;
  }
}
.link_none {
  text-decoration: none;
}
.cart_brand {
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}

.buttons_navbar {
  display: flex;
  align-items: center;
  .button_signin {
    border-radius: 5px;
    height: 40px;
    background-color: $fafafa;
    letter-spacing: 1.5px;
    border-color: $fafafa;
    cursor: pointer;
    border-style: solid;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 1s, background-color 1s;
    &:hover {
      transform: scale(1.02);
      background-color: $purple-clear;
      border-color: $purple-clear;
      box-shadow: 0 3px 10px $shadow;
    }
  }
}
